---
import Layout from '../layouts/Layout.astro';
import Banner from '../components/Banner.astro';
import Categorias from '../components/Categorias.astro';
import Grilla from '../components/Grilla.astro';

---

<Layout>
	<div class="container mx-auto px-4 py-4">
		<div class="relative bg-gray-100 rounded-xl overflow-hidden">
			<Banner />
		</div>
		<div class="mt-8 flex gap-6">
			<div class="w-1/4">
				<Categorias />
			</div>
			<div class="w-3/4">
				<Grilla />
			</div>
		</div>
	</div>
</Layout>
