<body class="flex items-center justify-center h-screen">
    <div class="flex flex-col items-center justify-center bg-white p-6 w-xl size-2/3">
        <h2 class="text-2xl font-bold mb-4">INICIAR SESIÓN</h2>
        
        <form class="flex flex-col w-full gap-2">
            <label for="email" class="text-xl font-semibold">Email</label>
            <input type="email" required class="mb-4 border rounded py-2 text-2xl">
    
            <label for="password" class="text-xl font-semibold">Contraseña</label>
            <input type="password" required class="mb-4 border rounded py-2 text-2xl">
    
            <button type="submit" class="bg-black hover:bg-gray-700 transition duration-300 text-white px-4 py-3 rounded cursor-pointer text-xl">Iniciar Sesión</button>

            <p class="mt-4 text-center">¿No tienes una cuenta? <a href="#" class="text-blue-500 hover:underline">Regístrate</a></p>
        </form>
    </div>
</body>
